@page
@model AulasAspNet.Pages.Usuarios.CadastrarModel
@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>

<form onsubmit="return valida()"> 
    <div class="form-group">
        <label for="usuario.Nome">Nome</label><br />
        <input type="text" name="usuario.Nome" value="@Model.usuario.Nome" class="form-group" placeholder="Nome" /><br />
        <label for="usuario.Email">Email</label><br />
        <input type="email" name="usuario.Email" value="@Model.usuario.Email" class="form-group" placeholder="E-Mail" /> <br />
        <label for="usuario.CPF">CPF</label><br />
        <input type="text" name="usuario.CPF" value="@Model.usuario.CPF" class="form-group" placeholder="CPF" /> <br />
        <label for="usuario.Nascimento">Data de Nascimento</label><br />
        <input type="date" name="usuario.Nascimento" value="@Model.usuario.Nascimento" /><br />
        <label for="usuario.Senha">Senha</label> <br />
        <input type="password" id="senha" name="usuario.Senha" class="form-group" placeholder="Senha" /><br />
        <label>Confirmar Senha</label><br />
        <input type="password" id="confirmacao" class="form-group" placeholder="Confirmar Senha" /><br />
        <br /> <br />
        <button class="btn btn-primary">Enviar</button>
    </div>
</form>

<script>

    function valida() {
        let senha = document.getElementById("Senha");
        let confirmacao = document.getElementById("confirmacao");
        if (senha.value.length < 4) {
            alert("A senha deve ter pelo menos 4 caracteres");
            return false;
        }
        if (senha.value == confirmacao.value) {
            alert("A senha e a confirmação devem ser iguais");
            return false;
        }
        return true;
    }
</script>
